*{
    margin: 0;
    padding: 0;
}
.logo-txt{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(31,41,55);
}
.back{
   background-color: rgb(249,250,251);
}
.foundations-white{
    background-color: white;
    width: 75%;
}
.all-paths{
    font-size: 30px;
    font-weight: 600;
}
.foundation{
    padding: 10px;
}

.explore,.explore-second,.explore-third{
    width: 150px;
    border-radius: 8px;
    background-color: rgb(31,41,55);
}
.explore-second{
    display: none;
}
.allpath-line{

    border-top: 1px solid gray;
}
.Full-Stack{
    text-align: justify;
}
.ruby-back{
    background-color: white;
}

@media only screen and (max-width: 767px){
    .explore,.line{
        display: none;
    }
    .explore-second{
        display: block;
    }


}
@media only screen and (max-width: 640px){
    .explore,.line{
        display: none;
    }
    .explore-second{
        display: block;


    }
    .foundations-white{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .foundation-text{
        text-align: justify;
    }

}
